<!DOCTYPE html>
<html lang="ja"></html>
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport"
        content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
  <title>Score Board</title>
  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="siimple-navbar siimple-navbar--extra-large siimple-navbar--primary">
  <div class="siimple-navbar-title">udon</div>
  <div class="siimple--float-right"><a class="siimple-navbar-item" href="/">Score
    Board</a><a class="siimple-navbar-item" href="/">Simulator</a></div>
</div>
<div class="siimple-content siimple-content--extra-large">
  <div class="siimple-grid-row">
    <div class="siimple-grid-col siimple-grid-col--12">
      <div class="siimple-table siimple-table--striped">
        <div class="siimple-table-header">
          <div class="siimple-table-row">
            <div class="siimple-table-cell"></div>

            {% for ai in ai_names %}
              <div class="siimple-table-cell"> {{ ai }}</div>
            {% endfor %}
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</body>