<!DOCTYPE html>
<html lang="ja"></html>
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport"
        content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
  <title>Score Board</title>
  <script src="{{ url_for('static', filename='js/c3-5.0.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/c3.min.js') }}"></script>
  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="siimple-navbar siimple-navbar--extra-large siimple-navbar--primary">
  <div class="siimple-navbar-title">udon</div>
  <div class="siimple--float-right">
    <a class="siimple-navbar-item" href="/scoreboard/LA">LA</a>
    <a class="siimple-navbar-item" href="/scoreboard/FA">FA</a>
    <a class="siimple-navbar-item" href="/scoreboard/FD">FD</a>
    <a class="siimple-navbar-item" href="/scoreboard/FR">FR</a>
    <a class="siimple-navbar-item" href="/submission">ベストスコアのDL</a></div>
</div>


<div class="siimple-content siimple-content--extra-large">

  <div class="siimple-grid-row">
    <div id="chart"></div>
  </div>

  <script>
      sum_scores = [];

      {% for owner in sum_scores %}
          sum_scores['{{owner}}_time'] = ['{{owner}}_time'];
          sum_scores['{{owner}}_data'] = ['{{owner}}_data'];
          {% for data in sum_scores[owner] %}
              sum_scores['{{owner}}_time'].push('{{data[0]}}'.substr(0, 19));
              sum_scores['{{owner}}_data'].push({{data[2]}});
          {% endfor %}
      {% endfor %}

      sum_scores_xs = {};
      {% for owner in sum_scores %}
          sum_scores_xs['{{owner}}_data'] = '{{owner}}_time';
      {% endfor %}

      var data = {};
      data.xs = sum_scores_xs;
      data.xFormat = '%Y-%m-%d %H:%M:%S';
      data.columns = [];

      var axis = {
          x: {
              type: 'timeseries',
              tick: {
                  format: '%d %H:%M'
              }
          },
          y: {
              tick: {
                  format: d3.format(",")
              },
              min: 0,
              padding: {bottom: 0}
          }
      };

      for (var sum_score in sum_scores) {
          data.columns.push(sum_scores[sum_score]);
      }
      ;
      generate = {
          data: data,
          axis: axis,
          grid: {
              y: {
                  show: true,
                  lines: [
                      {
                          value: {{ board_score_sums[1] }},
                          class: 'best-score',
                          text: 'BEST SCORE'
                      },
                      {
                          value: {{ board_score_sums[10] }},
                          class: 'best-score',
                          text: '10th SCORE'
                      }
                  ]
              }
          }
      };
      var chart = c3.generate(generate);
  </script>


  <div class="siimple-grid-row">
    <div id="chart"></div>
  </div>

  <div class="siimple-grid-row">
    <div class="siimple-grid-col siimple-grid-col--12">

      <div class="siimple-table siimple-table--striped">
        <div class="siimple-table-header">
          <div class="siimple-table-row">
            <div class="siimple-table-cell"></div>
            <div class="siimple-table-cell"> best score</div>
            {% for ai in ai_names %}
              <div class="siimple-table-cell"> {{ ai }}</div>
            {% endfor %}
          </div>
        </div>

        <div class="siimple-table-body">
          {% for prob in problems %}
            <div class="siimple-table-row">
              <div class="siimple-table-cell"> {{ prob }}</div>
              <div class="siimple-table-cell">
                {% if board_scores[prob] %}
                  {{ format_number(board_scores[prob][1]) }}
                  ①
                  {{ (board_scores[prob][1] * 100 / highest[prob]) | round(1, 'floor') }}
                  %
                  ⑩
                  {{ (board_scores[prob][10] * 100 / highest[prob]) | round(1, 'floor') }}
                  %
                {% endif %}
              </div>
              {% for ai in ai_names %}
                {% if prob in scores[ai] %}
                <a href='/data/{{ scores[ai][prob]['id'] }}' class="siimple-table-cell
                            {% if scores[ai][prob] and scores[ai][prob]['energy'] == highest[prob] %}
                            siimple-highest-score
                            {% endif %}
                            ">
                            <!-- <a href="/"> -->
                  
                    {% if scores[ai][prob]['energy'] == 0 %}
                      ERR
                    {% elif scores[ai][prob]['energy'] == -10 %}
                      -
                    {% else %}
                      {{ format_number(scores[ai][prob]['energy']) }}
                      
                    {% endif %}
                </a>
                  {% else %}
                  <div class="siimple-table-cell"></div>
                {% endif %}
              {% endfor %}
            </div>
          {% endfor %}
        </div>

      </div>
    </div>
  </div>

</div>
</body>